<%
provide(:selected,"$('ul.header_top_nav li:eq(2)').addClass('selected')")
 %>

<!--主体块-->
<div class="AU_body">
	<div class="AU_Left float_left">
    	<ul class="AU_Left_menu">
        	<li><a href="/AboutUs">关于我们</a></li>
            <li><a href="/ContactUs">联系我们</a></li>
            <li><a href="/Disclaimer">免责声明</a></li>
            <li><a href="/Feedback">意见反馈</a></li>
            <li><a href="/Addurl">网站收录</a></li>
        </ul>
        
    </div>




	    <div class="AU_right float_right">
    	<!--<div class="AU_title">
        联系我们
        </div>-->
        <div class="AU_con_block float_left">
        	<h1>关于我们</h1>
            <p>搜短租网（www.souduanzu.com）是国内首家专业的日租、短租房源垂直搜索网站，汇集国内最多的短租房源。</p>
            <p>自2012年1月初推出后，获得了致力于互联网早期阶段投资以及提供全方位创业培育的投资机构（思捷创投）的二十万美金的天使投资。目前，搜短租网已经收录了国内近千家短租网站的房源信息，提供短租导航以及聚合式的内容列表，并提供最便捷的检索服务，提供短租房源比价服务，方便用户比较选择出最为称心的短租房源，节省了逐个访问租房网站的时间。 同时，与一般的综合导航网站不同，搜短租网是一个短租房源和网址的聚集地，专注于提供短租房源的产品功能，也成为了网民在找短租房源前的一个参考站和入口。 </p>
            <p>此外，搜短租网正在开发手机客户端（iPhone及Android版），我们将始终致力于让您随时随地地享受到短租导航带来的生活便利。</p>
        </div>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>
</div>
<!--主体块 end-->