
<%
provide(:selected,"$('ul.header_top_nav li:eq(3)').addClass('selected')")
 %>


<!--主体块-->
<div class="AU_body">
	<div class="AU_Left float_left">
    	<ul class="AU_Left_menu">
        	<li><a href="/AboutUs">关于我们</a></li>
            <li><a href="/ContactUs">联系我们</a></li>
            <li><a href="/Disclaimer">免责声明</a></li>
            <li><a href="/Feedback">意见反馈</a></li>
            <li><a href="/Addurl">网站收录</a></li>
        </ul>
        
    </div>



	    <div class="AU_right float_right">
    	<!--<div class="AU_title">
        联系我们
        </div>-->
        <div class="AU_con_block float_left">
        	<h1>联系我们</h1>
			<p>欢迎联系搜短租，我们将竭诚为您服务——服务时间（9：00-18：00）</p>
			<p>客户服务：请联系<a style="color: #1E85B0; cursor:pointer;" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=4000151855&eid=218808P8z8p8x808R8R8R&o=www.zhuwona.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');">在线客服</a>或者email至：service@souduanzu.com</p> 
			<p>商务联系：请致电 400-015-1855    或者email至：contact@souduanzu.com</p> 
			<p>需要网站被搜短租收录： 您还可以直接访问<a href='/Addurl'>网站收录</a></p>
        </div>
        <div class="clear"></div>
    </div>


    <div class="clear"></div>
</div>
<!--主体块 end-->
