<script>
    $(function () {
        $("ul.AU_Left_menu li").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }).click(function () {
            $(this).addClass("selected");
            $("ul.AU_Left_menu li").not($(this)).removeClass("selected");
        });
    })
</script>

<!--主体动画-->
<div class="bg_div AU_flashBlock">
	<img src="../images/helpCenter_img/ContactUs_img01.jpg" title="" alt="" width="1000" height="247" />
</div>
<!--主体动画 end-->

    <!--主体块-->
    <div class="MediaR_body margin_bottom_15">
    
        <div class="MR_body_header">
        	<h1>新闻报道</h1>
            <div class="clear"></div>
        </div>
        <div class="MR_content">
        	<div class="MR_con_left">
            	<!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://www.traveldaily.cn/article/59302.html" target="_blank">[环球旅讯]搜短租：掘金短租垂直搜索市场</a></h1>
                        <span>2012年03月19日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img hidden">
                        </div>
                        <div class="LBlock_content">
                        	<p>环球旅讯本期TravelDaily Lab专访搜短租运营总监杨秀冬，剖析这个定位于日租、短租房源垂直搜索网站的运营模式和发展前景。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->
                
            	<!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://www.cctime.com/html/2012-3-7/201237114215121.htm" target="_blank">[飞象网]短租房垂直搜索引擎“搜短租网”上线Q+应用</a></h1>
                        <span>2012年03月07日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img hidden">
                        </div>
                        <div class="LBlock_content">
                        	<p>国内首家短租房垂直搜索引擎“搜短租网”在2012年1月上线后，就开始快速开发一款名为“搜短租网”的Q+应用。记者获悉，“搜短租网”应用日前已经通过审核并上线。上线当日受网友追捧，很快成为Q+平时备受欢迎的应用，对其提供的服务和功能等方面给予较高评价。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->
            	<!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://news.163.com/12/0223/14/7QV3QKT700014JB5.html" target="_blank">[网易]搜短租网:欲打造日租短租导航及垂直搜索领域的"去哪儿"</a></h1>
                        <span>2012年02月23日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img">
                        	<img src="/images/MediaReports_img/2012022301.jpg" alt="媒体报道"/>
                            <a href="http://news.163.com/12/0223/14/7QV3QKT700014JB5.html" target="_blank">http://news.163.com</a>
                        </div>
                        <div class="LBlock_content">
                        	<p>搜寻600多家短租网站，收录近10万套房源信息，不到1个月的时间。这些数字对于一个刚创业的公司而言，已然不容易。但对"搜短租网"而言，这些数字只是打造短租房领域的"去哪儿"的起步。</p>
                            <p>对于一些大众化的服务类网络应用、本着对国内普通用户习惯的把握，导航、比价、垂直搜索引擎非常多，而在新一波的创业浪潮中，热门、细分领域尤其是那些与人们日常生活相关的行业，就孕育了导航及垂直搜索引擎的出现，比如此前的团购热潮成就了"团800(www.tuan800.com)"、诸多的酒店预订网站打造了"去哪儿(www.qunar.com)，以及火热的短租、日租网站带来了"搜短租网(www.souduanzu.com)"。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->
                <!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://www.it-times.com.cn/wangzhidaohang/3690.jhtml" target="_blank">[IT时报]搜短租网：日租短租房导航及垂直搜索</a></h1>
                        <span>2012年02月23日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img">
                        	<img src="/images/MediaReports_img/2012022302.jpg" alt="媒体报道"/>
                            <a href="http://www.it-times.com.cn/wangzhidaohang/3690.jhtml" target="_blank">www.it-times.com.cn</a>
                        </div>
                        <div class="LBlock_content">
                        	<p>对于一些大众化的网络应用、本着对国内普通用户习惯的把握，导航、比价、垂直搜索引擎非常多，而在新一波的创业浪潮中，热门、细分领域尤其是那些蜂拥而上的行业，基本上过不了多久就有垂直的导航及搜索引擎出现，比如此前的团购热潮成就了“团800”、还比如诸多的红酒网站带来了“就买酒比价网”，当然还有今天所介绍的短租日租房市场、所谓类AirBnb模式的网站则带来了“搜短租网”。这种模式，已然成为国内初创公司、尤其是想主打普通大众及草根用户的创业思维。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->
                
                <!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://toumingti.com/archives/1006" target="_blank">[透明体TMT]搜短租网：日租短租房导航及垂直搜索 争抢流量入口</a></h1>
                        <span>2012年02月21日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img hidden">
                        </div>
                        <div class="LBlock_content">
                        	<p>“搜短租网”于2012年1月上线，获得湖南思捷创投20万美元的天使投资，值得注意的是思捷创投此前曾投资建设了短租日租房网站“住我那”，可见这家投资机构、做项目的创业团队是在短租及日租房市场继续耕耘和探索。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->

                <!--软文展示块-->
            	<div class="MR_con_LBlock">
                	<div class="MR_con_LBlock_header">
                        <h1><a href="http://www.ehotelier.cn/newsshow.jsp?id=6551" target="_blank">[易好网]短租、日租房源搜索网站“搜短租网”上线</a></h1>
                        <span>2012年02月13日</span>
                        <div class="clear"></div>
                    </div>
                    <div class="LBlock_body">
                    	<div class="LBlock_img hidden">
                        </div>
                        <div class="LBlock_content">
                        	<p>    短租房、日租房市场在国内还处于培育阶段，但为短租、日租服务的网站却有近千家。如具有一定知名度的全国性短租、日租网站爱日租、游天下、住我那、赶集网旗下的蚂蚁短租，以及一些专做区域短租、日租的三亚短租、昆明短租等等。通过短租、日租网站，旅游出行、商务出差的租客可以预订合适的房源，这些房源大都是具有当地特色的个人房源，与酒店相比，具有相当高的价格优势。</p>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--软文展示块 end-->
                
            </div>
            <div class="MR_con_right">
            	<ul>
                	<li>
                    	<p><a href="http://tech.qq.com/a/20120223/000385.htm" target="_blank"><img src="/images/MediaReports_img/qqcomlogo.png" alt="腾讯网"/></a></p>
					</li>
					<li>
                    	<p><a href="http://tech.hexun.com/2012-02-24/138637311.html" target="_blank"><img src="/images/MediaReports_img/hexun_logo.gif" alt="和讯科技" /></a></p>
                    </li>
					<li>
                    	<p><a href="http://news.163.com/12/0223/14/7QV3QKT700014JB5.html" target="_blank"><img src="/images/MediaReports_img/163_log.png" alt="网易"/></a></p>
					</li>
					<li>
                    	<p><a href="http://roll.sohu.com/20120223/n335652369.shtml" target="_blank"><img src="/images/MediaReports_img/sohu_logo.gif" alt="搜狐" /></a></p>
					</li>
					<li>
                    	<p><a href="http://news.21cn.com/caiji/roll1/2012/02/23/10911702.shtml" target="_blank"><img src="/images/MediaReports_img/21cn_logo.png" alt="21CN" /></a></p>
                    </li>
					<li>
                    	<p><a href="http://www.it-times.com.cn/wangzhidaohang/3690.jhtml" target="_blank"><img src="/images/MediaReports_img/it_times_logo.gif" alt="IT时报" /></a></p>
					</li>
                    <li>
                    	<p><a href="http://17startup.com/#!/startup/3656" target="_blank"><img src="/images/MediaReports_img/logo_17starup.jpg" alt="让创业不再孤单" /></a></p>
					</li>
					<li>
                    	<p><a href="http://forum.zhongsou.net/20/20120223/4220591.html" target="_blank"><img src="/images/MediaReports_img/zhongsou_logo.gif" alt="行业中国" /></a></p>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--主体块 end-->
	<script>
	    $(function () {
	        $(".LBlock_img").each(function () {
	            if ($(this).is(":hidden")) {
	                $(this).next().css("width", "100%");
	            };
	        });
	    });
	</script>
<!--主体块 end-->
