<div class="foot_block">
  <ul class="foot_Friendly">
    <li>
      <h1>热门城市：</h1>
      <div class="Friendly_link">
        <a href="/list/city/beijing">北京</a>
        <a href="/list/city/sanya">三亚</a>
        <a href="/list/city/shanghai">上海</a>
        <a href="/list/city/guangzhou">广州</a>
        <a href="/list/city/shenzhen">深圳</a>
        <a href="/list/city/qingdao">青岛</a>
        <a href="/list/city/hangzhou">杭州</a>
        <a href="/list/city/xian">西安</a>
        <a href="/list/city/chengdu">成都</a>
        <a href="/list/city/chongqing">重庆</a>
        <a href="/list/city/nanjing">南京</a>
        <a href="/list/city/shenyang">沈阳</a>
        <a href="/list/city/jinan">济南</a>
        <a href="/list/city/changsha">长沙</a>
        <a href="/list/city/zhengzhou">郑州</a>
        <a href="/list/city/suzhou">苏州</a>
        <a href="/list/city/wuhan">武汉</a>
        <a href="/list/city/xianggang">香港</a>
        <a href="/city">更多</a>
        <a href="/city/circle">热门城市商圈导航</a>
      </div>
      <div class="clear"></div>
    </li>
<!--    
    <li>
      <h1>友情链接：</h1>
      <div class="Friendly_link">
        <a href="http://zs.58.com/house.shtml" target="_blank">中山房产网	</a>
        <a href="http://www.mmwxw.com/" target="_blank">孟母</a>
        <a href="http://zs.58.com/ershoufang/" target="_blank">中山二手房网	</a>
        <a href="	http://zs.58.com/hezu/" target="_blank">中山合租</a>
        <a href="http://www.wzml.org" target="_blank">中文网站目录</a>
        <a href="http://hotel.kuxun.cn/nanjing-jiudian-daquan.html" target="_blank">南京酒店</a>
        <a href="http://hotel.kuxun.cn/qingdao-jiudian-daquan.html" target="_blank">青岛酒店</a>
        <a href="http://hotel.kuxun.cn/hangzhou-jiudian-daquan.html" target="_blank">杭州酒店</a>
        <a href="http://www.liebiao.com/zufang/" target="_blank"> 租房网</a>
        <a href="http://www.guilinok.com/" target="_blank">OK自助链</a>
      </div>
      <div class="clear"></div>
    </li>
-->
  </ul>
  ﻿<div style="display:none">
    <!--start百度统计-->
    <script type="text/javascript">
      
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa77f00a66ce6efd6a4eb1d6088605bae' type='text/javascript'%3E%3C/script%3E"));
      
    </script>
  </div>
  <!--end百度统计-->
  <div class="copyRight">
    CopyRight&copy; 2011-2012 版权所有 搜短租网<br />
    湘ICP备11019491号-2 | 专业租房导航
    <a href=" http://trust.360.cn/search.php" target="_blank" title="360可信网站">
      <!--<img src=" http://trust.360.cn/img.php?sn=5599&id=5" border="0" alt="360可信网站" width="90" height="15"/>-->
    </a>
  </div>
</div>
<!--脚部块 end-->