<div class="foot_block">
  ﻿<div style="display:none">
    <!--start百度统计-->
    <script type="text/javascript">
      
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa77f00a66ce6efd6a4eb1d6088605bae' type='text/javascript'%3E%3C/script%3E"));
      
    </script>
  </div>
  <!--end百度统计-->
  <div class="copyRight">
    CopyRight&copy; 2011-2012 版权所有 搜短租网<br />
    湘ICP备11019491号-2 | 专业租房导航
    <a href=" http://trust.360.cn/search.php" target="_blank" title="360可信网站">
      <!--<img src=" http://trust.360.cn/img.php?sn=5599&id=5" border="0" alt="360可信网站" width="90" height="15"/>-->
    </a>
  </div>
</div>
<!--脚部块 end-->