

<!--主体动画-->
<div class="bg_div AU_flashBlock margin_bottom_15">
	<!--动画-->
    <div id="container">
        <div id="example">
          <div id="slides">
            <div class="slides_container">
                <div>
                    <a href="javascript:;" ><img src="/images/helpCenter_img/AU_flash01.jpg" width="1000" height="293" alt="搜房网01" title="搜房网01"></a>
                </div>
                <div>
                    <a href="javascript:;" ><img src="/images/helpCenter_img/AU_flash02.jpg" width="1000" height="293" alt="搜房网02"></a>
                </div>
                <div>
                    <a href="javascript:;" ><img src="/images/helpCenter_img/AU_flash03.jpg" width="1000" height="293" alt="搜房网03"></a>
                </div>
                
            </div>
             <a href="#" class="prev"><span></span></a>
              <!--<a href="#" class="stop"><img src="images/img/arrow-stop.png" width="24" height="43" alt="暂停"></a>-->
              <a href="#" class="next"><span></span></a>             
            </div>
        </div>
    </div>
    <!--动画 end-->
</div>
<!--主体动画 end-->

<script>
    $(function () {
        $("ul.AU_Left_menu li").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }).click(function () {
            $(this).addClass("selected");
            $("ul.AU_Left_menu li").not($(this)).removeClass("selected");
        });

        $('#slides').slides({
            preload: true,
            preloadImage: 'images/blue_spinner.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true,
            animationStart: function () {
                $('.caption').animate({
                    bottom: -76
                }, 100);
            },
            animationComplete: function (current) {
                $('.caption').animate({
                    bottom: -76
                }, 200);
                //				if (window.console && console.log) {
                //					 example return of current slide number
                //					console.log(current);
                //				};
            }
        });

        $("#slides .next,#slides .prev").hide();
        $("#container").hover(
		function () {
		    $("#slides .next,#slides .prev").fadeIn("slow");
		}, function () {
		    $("#slides .next,#slides .prev").fadeOut("slow");
		});

    })
</script>

